/*
            COLORS
*/
@define-color grey_blue         #969ba3;
@define-color light_yellow      #f9e2af;
@define-color dark_grey         #1d2021;
@define-color light_blue        #5e86eb;
@define-color white             #ffffff;
@define-color white_blue        #dde2eb;
@define-color black_blue        #020305;
@define-color dark_blue         #0f1c3b;
@define-color blue              #0b2259;

/*
          VARIABLES
*/
@define-color exclsv           alpha(@white_blue, 0.9);
@define-color default          @light_blue;
@define-color dark             @black_blue;

* {
	border: 0px;
    border-radius: 0;
    font-family: "Trebuchet MS" ;
    font-weight: bold;
	font-size: 12px;
	min-height: 10px;
}

window#waybar {
    margin: 2px;
    border-radius: 8px;
    background: transparent;
    /*border: 2px solid @dark;
    background: alpha(@light_blue, 0.7);*/
}


#window {
    color: @exclsv;
	background: transparent;
    margin-right: 14px;
}

.modules-left {
    border-radius:3px;
    border: 0px;
    background: transparent
}
.modules-right {
    border-radius: 8px;
    border: 0px;
    background: alpha(@dark, 0.7);
}

#workspaces button {
    padding: 5px;
    color: @default;
    border-radius: 0;
}

#workspaces button.focused {
    color: @exclsv;
}
#workspaces button:hover {
    background: transparent;
    box-shadow: inherit;
    text-shadow: inherit;
}

#language {
    color: @exclsv;
    padding-left: 13px;
}

#network {
    color: @default;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	background: transparent;
}

#pulseaudio {
    color: @default;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	background: transparent;
}

#backlight {
    color: @default;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	background: transparent;
}

#clock {
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	background: transparent;
    color: @exclsv
}

#calendar {
  margin-left: 8px;
  padding-left: 10px;
  margin-bottom: 10px;
  padding-right: 10px;
  background: @dark;
}

#memory {
    color: @default;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	background: transparent;
}

#cpu {
    color: @default;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	background: transparent;
}

#tray {
	margin-left: 2px;
	padding-left: 2px;
	padding-right: 10px;
	background: transparent;
}

#custom-media {
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	background: transparent;
}

#custom-uptime {
    color: @exclsv
}
