

@define-color grey_blue         #969ba3;
@define-color light_yellow      #f9e2af;
@define-color dark_grey         #1d2021;

* {
	border: none;
    font-family: "JetBrainsMono Nerd Font Mono" ;
	font-size: 10px;
	min-height: 0px;
}

#waybar {
	background: @dark_grey;
}

#window {
    color: @light_yellow;
	background: @dark_grey;
}

#workspaces button {
    color: #414141;
    border-radius: 0;
}

#workspaces button.focused {
    color: @light_yellow;
}
#workspaces button:hover {
    background: transparent;
    box-shadow: inherit;
    text-shadow: inherit;
}

#language {
    color: @light_yellow;
    padding-left: 13px
}

#network {
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	background: @light_yellow;
    /*border-radius: 5px;*/
}

#pulseaudio {
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	background: #f9e2af;
}

#battery {
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	background: #f9e2af;
}

#battery.charging, #battery.plugged {
  background-color: #A6E3A1;
}

#battery.critical:not(.charging) {
  background-color: #A6E3A1;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    background-color: #BF616A;
    color: #A6E3A1;
  }
}

#backlight {
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	background: @light_yellow;
}

#clock {
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	background: transparent;
    color: @light_yellow
}

#calendar {
  margin-left: 8px;
  padding-left: 10px;
  margin-bottom: 10px;
  padding-right: 10px;
  transition: none;
  background: #BAC2DE;
}

#memory {
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	transition: none;
	background: @light_yellow;
}

#cpu {
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	transition: none;
	background: @light_yellow;
}

#tray {
	margin-left: 2px;
	padding-left: 2px;
	padding-right: 10px;
	transition: none;
	background: transparent;
}

#custom-launcher {
	font-size: 14px;
	padding-left: 10px;
	padding-right: 5px;
	transition: none;
    color: #A36AC7;
    background: rgba(0, 0, 0, 0.8);
}

#custom-power {
	font-size: 14px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 5px;
	transition: none;
	color: #F38BA8;
	background: rgba(0, 0, 0, 0.8);
}

#custom-wallpaper {
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	transition: none;
	background: #C9CBFF;
}

#custom-updates {
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	transition: none;
	background: #E8A2AF;
}

#custom-media {
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	transition: none;
	background: #89B4FA;
}

#custom-uptime {
    color: @light_yellow
}
